/* || General Styles */

body {
	font-family: 'Montserrat', Arial, sans-serif;
	position: relative;
	background-color: white;
	margin-bottom: 100px;
}

p {
	font-size: 25px;
}

.header {
	background-color: #048004;
}


h1 {
	text-align: center;
	color: white;
	font-size: 60px;
	font-weight: 900;
	padding-top: 4px;
}

h2 {
	font-size: 45px;
	text-align: center;
	font-weight: bold;
	margin-top: 0.1em;
}

h3 {
	font-size: 35px;
}

.container {
	display: inline-block;
	width: 100%;
}

.row {
	margin: auto;
}

.graybg {
	background-color: lightgray;
}

/* || Sitewide CSS */

/* Navbar */

.nav-active {
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 1px;
	text-decoration: none;
}

nav {
	background-color: #048004;
	font-size: large;
}

.navbar.sticky-top {
	z-index: 1100;
}

.logo img {
	float: left;
	position: relative;
	margin: 6px;
}

/* Footer Styling */

#end {
	text-align: center;
	font-size: large;
	position: relative;
	bottom: 0;
	right: 0;
	width: 100%;
}

#socialMedia {
	position: fixed;
	right: 0;
	bottom: 15px;
	z-index: 1200;
}

#socialMedia img {
	text-align: center;
	max-width: 40px;
	border-radius: 5px;
	box-shadow: 5px 5px 3px 3px #222222;
	z-index: 1300px;
}

footer {
	position: absolute;
	bottom: -100;
	left: 0;
	width: 100%;
}

/* Carousel Styling */

.carousel-caption {
	top: 10%;
	text-shadow: 3px 3px 6px black;
}

.hero-banner {
	height: fit-content;
	width: 100%;
	align-content: center;
}

.hero-text {
	top: 20%;
	text-align: center;
	color: white;
	text-shadow: 3px 3px 6px black;
}

/* || Index Page */

.table {
	margin-right: auto;
	margin-left: auto;
	width: 40%;
	background-color: white;
}

#hours {
	height: 100%;
	position: relative;
	text-align: center;
}

#hours h4 {
	color: #000000;
}

.table td {
	border-width: 0.2rem;
	font-weight: 800;
}


#hours th, td {
	color: black;
	border: 2px solid black;
	text-align: center;
	margin-top: 2em;
}

/* Social Media Call to Action */

.social-bkg {
	background-color: rgba(122, 242, 132, 0.461);
	border-radius: 2rem;
	width: 90%;
	margin: auto;
	padding: 1em;
}

.socialmedia {
	text-align: center;
}

.socialmedia h3, h4 {
	font-weight: 800;
	text-align: center;
}

.social-pic img {
	width: 30%;
	border-radius: 2rem;
	padding: 1rem;
}

.social-links, .social-pic {
	display: inline-block;
}

.social-links a {
	color: black;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.social-links img {
	padding: 0.5rem;
}

/* Review and Sign up Forms */

.btn-outline-success {
	color: black !important;
}

.form-control:focus {
	border-color: rgb(27, 61, 22);
	box-shadow: inset 0 1px 1px rgba(14, 31, 11, 0.075), 0 0 8px rgba(12, 27, 10, 0.6);
}

/* Reviews Carousel  */

.hero-specials {
	max-height: 25rem;
}

.hero-specials img {
	width: 100%;
	min-height: 25rem;
	max-height: fit-content;
	object-fit: cover;
}

/* Customer Testimonials */

.reviewSectionForm {
	margin: 4rem auto;
	text-align: left;
	height: 100%;
}

.mainContent {
	font-family: 'Montserrat', Arial, sans-serif;
	background-color: hsl(127, 72%, 82%);
	border: 0.4rem;
	border-radius: 0.5rem;
	border-style: outset;
	padding: 1rem;
	margin: 0px auto;
	text-align: center;
}

.carouselReviews {
	position:relative;
	width: 100%;
}

.review-item {
	width: 100%;
	padding: 0 2rem 2rem 2rem;
}

#reviewIcon {
	width: 20%;
	display: inline-block;
}

#userInfo {
	display: inline-block;
	vertical-align: middle;
}

blockquote {
	font-style: italic;
	font-weight: 90;
	padding: 1rem 1rem 0rem 3rem;
	position: relative;
}

blockquote::before {
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	content: "\201C";
	color: #07DF07;
	font-size: 5em;
	position: absolute;
	left: 0.5rem;
	top: -1rem;
}

.customerReview {
	background-color: #CEFDCE;
	border-radius: 1rem;
	border-left: 1.5em solid #07DF07;
	padding: 5%;
	margin-top: 2%;
	box-shadow: 0.5rem 0.5rem 1rem black;
}

.reviewEmail {
	font-style: italic;
}

.score {
	text-align: center;
}

/* social Media icons */

.accordion-header.sticky-top {
	top: 110px;
}

/* || Apply Page */

.apply-form-container {
	display: inline-block;
	box-sizing: border-box;
	background-color: rgb(202, 202, 202);
	padding: 20px;
	padding-right: 40px;
	border-radius: 2%;
}

.apply-form-container input {
	width: 100%;
	color: black;
}

.submit>input[type=submit] {
	padding: 2% 2%;
	border-radius: 6px;
}

form .error {
	color: #ff0000;
}

/* || About Page */

.containerAbout {
	background-color: lightgray;
}

.aboutInfo1 {
	background-color: rgba(255, 255, 255, .4);
	border-radius: 20px;
	text-align: center;
}

.aboutInfo2 {
	background-color: rgba(122, 242, 132, 0.461);
	border-radius: 20px;
	text-align: center;
}

.card-img-top.about-cards {
	width: 270px;
	height: 240px;
	margin: 0 auto;
	margin-top: 2%;
}
