/* Google font assignment */

body {
	font-family: 'Montserrat', Arial, sans-serif;
}

.header {
	background-color: #048004;
}

h1 {
	text-align: center;
	color: white;
	font-size: 60px;
	font-weight: 900s;
	padding-top: 4px;
}

body {
	background-color: white;
	text-align: center;
}

#socialMedia {
	text-align: left;
	position: fixed;
	width: 30px;
	bottom: 0;
}

table, th, td {
	border: 3px solid black;
	text-align: center;
	border-color: white;
}

table {
	width: 10%;
}

p {
	text-align: center;
}

#hours {
	text-align: left;
}

* {
	box-sizing: border-box;
}

.column {
	width: 33.33%;
	padding: 5px;
}

.row {
	display: flex;
}

nav {
	border: 3px solid black;
	font-size: large;
}

#Specials {
	position: absolute;
	left: auto;
	text-align: left;
	font-family: serif;
}

h2 {
	font-size: 45px;
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 0.1em;
}

dt {
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'Courier New', monospace;
	margin-bottom: 0.2em;
}

dd {
	font-size: 20px;
}

.logo img {
	float: left;
	position: relative;
	width: 100px;
	margin: 6px;
}

hr {
	margin-top: 3em;
	margin-bottom: 3em;
}

#end {
	text-align: center;
	font-size: large;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
}

h3 {
	text-align: center;
	font-size: 45px;
	margin-bottom: 1em;
	margin-top: 0.1em;
	font-weight: lighter;
}