h1 {
    background-color: green;
    border-style: double;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:white;
    font-size: 60px;
}
#socialMedia{
    text-align: center;
    position:fixed;
    width: 30px;
    bottom: 0;

}
.topnav {
  overflow: hidden;
  background-color: green;
}

.topnav a {
  float: center;
  color: white;
  text-align: center;
  padding: 7px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}



/*h1 {
    font-family: merriweather;
    font-size: 40px;
}*/
.form-container {
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(202, 202, 202);
    padding: 20px;
    padding-right: 40px;
    border-radius: 2%;
    }

input {
    width: 100%;
    color: black;
    }

.name, .dob, .phone, .address, .email {
   display: inline-block;
    color: black;
    border-radius: 2px;
    padding-right: 5px;
}

.submit > input[type=submit]
{
padding: 2% 2%;
border-radius: 6px;
}
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://bit.ly/2N5kvOq");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#columns {
    column-count: 2;
    column-width: 500px;
   padding-top: 20px;
}

 
.column-left {
    width: 50%;
    margin-left: 20%;
}

.column-right {
    width: 80%;
    padding-top: 2px;
}
.review1 {
    background-color: rgba(122, 242, 132, 0.461);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
    text-align: center;
    padding: 6%;
}
.review2 {
    background-color: rgba(116, 108, 108, 0.742);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
    text-align: center;
    padding: 4%;
}

.review1:hover, .review2:hover {
    background-color: rgba(255, 255, 255, .4);
    transition: .4s;
    border: 1px solid black;
}
#columns2 {
    column-count: 2;
    column-width: 500px;
   padding-top: 20px;
}
.column-left2 {
    width: 50%;
    margin-left: 0%;
    border: 2px solid black;
    border-radius: 6px;
}
.column-right2 {
    width: 80%;
    padding-top: 2px;
}