h1 {
    background-color: green;
    border-style: double;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:white;
    font-size: 60px;
}
body {
    background-color: darkseagreen;
    /*text-align: center;*/
}

#socialMedia{
    text-align: left;
    position:fixed;
    width: 30px;
    bottom: 0;
}


#end{
    text-align: center;
    font-size: large;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 1000px;
}

table, th, td {
    border: 3px solid black;
    font-family: cursive;
    text-align: center;
    border-color: white;
}

table {
    width: 10%;
}


p {
    text-align: center;
}

#hours {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;

}
*{
    box-sizing: border-box;
}
.column {

    width: 33.33%;
    padding: 5px;
}

.row {
    display: flex;
}

nav {
    border: 3px solid black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

#Specials {
    position: absolute;
    left: auto;
    text-align: left;
    font-family:serif;
    ;

}

h2{
    font-size: 35px;
}

dt{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;

}
.topnav {
  overflow: hidden;
  background-color: green;
}

.topnav a {
  float: center;
  color: white;
  text-align: center;
  padding: 7px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

#ingredients {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://bit.ly/3dletUn");
   height: 400px;
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header img {
    float: left;
    width: 140px;
    height: 136px;
    position:relative;
    left:500px;   
    top: 3px;
}
