*.DS_Store
.vscode/
<div class="header">
		<div class="logo">
			<a href="index.php" class="logo">
				<img src="images/starbullslogo.png" alt="logo" />
			</a>
		</div>

		<h1>STARBULLS
			<div class="topnav">
				<a href="menu.php">Menu</a>
				<a href="specialMenu.php">Specials Of The Week</a>
				<a href="about.php">About Us</a>
				<a href="apply.php">Apply Now</a>
			</div>
		</h1>
	</div>
	</div>